.main-choice {
  width: 100%;
  display: grid;
  grid-template-columns: 13.3% 30% 13.3% 30% 13.3%;
  /* grid-template-rows: 20% 60% 20%; */
  /* background-color: black; */
  margin-bottom: 10%;
}

.mega-main {
  text-align: center;
  color: blue;
  border: 5px solid blue;
  height: 100%;
  padding: 5% 50px 0px 50px;
  background-color: #5998ff;
  overflow: auto;
  font-family: 'Roboto Mono', monospace;
}

.samus-main {
  text-align: center;
  color: white;
  border: 5px solid white;
  padding: 5% 50px 0px 50px;
  height: 100%;
  background-color: #2b1b33;
  font-family: 'Oswald', sans-serif;
}

.samus-main a img {
  max-width: 100px;
  max-height: auto;

}

.samus-main a {
  background-color: #c40000;
  border-radius: 10px;
  border: 2px solid gray;
  color: #eae5e5;
  text-decoration: none;
  font-size: 110%;
  font-family: 'Space Mono', monospace;
}

.samus-main a {
  background-color: #c40000;
  border-radius: 10px;
  border: 2px solid gray;
  color: #eae5e5;
  text-decoration: none;
  font-size: 110%;
  font-family: 'Space Mono', monospace;
}

.samus-main a img {
  max-width: 100px;
  max-height: auto;

}

.samus-main a {
  background-color: #c40000;
  border-radius: 10px;
  border: 2px solid gray;
  color: #eae5e5;
  text-decoration: none;
  font-size: 110%;
  font-family: 'Space Mono', monospace;
}

.samus-main a {
  background-color: #c40000;
  border-radius: 10px;
  border: 2px solid gray;
  color: #eae5e5;
  text-decoration: none;
  font-size: 110%;
  font-family: 'Space Mono', monospace;
}


.pick-box {
  width: 50%;
  margin: 0 25% 0 25%;
}

.kill-margin {
  margin: 0px 0px 5% 0px;
}
