.main-choice {
  width: 100%;
  display: grid;
  grid-template-columns: 13.3% 30% 13.3% 30% 13.3%;
  /* grid-template-rows: 20% 60% 20%; */
  /* background-color: black; */
  margin-bottom: 10%;
}

.mega-main {
  text-align: center;
  color: red;
  border: 5px solid red;
  height: 100%;
  padding: 5% 50px 0px 50px;
  background-color: #464647;
  overflow: auto;
}

.samus-main {
  text-align: center;
  color: white;
  border: 5px solid white;
  padding: 5% 50px 0px 50px;
  height: 100%;
  background-color: #2b1b33;
  font-family: 'Oswald', sans-serif;
}

.samus-main a img {
  max-width: 100px;
  max-height: auto;

}

.samus-main a {
  background-color: #c40000;
  border-radius: 10px;
  border: 2px solid gray;
  color: #eae5e5;
  text-decoration: none;
  font-size: 110%;
  font-family: 'Space Mono', monospace;
}

.samus-main a {
  background-color: #c40000;
  border-radius: 10px;
  border: 2px solid gray;
  color: #eae5e5;
  text-decoration: none;
  font-size: 110%;
  font-family: 'Space Mono', monospace;
}
